# Entornos virtuales
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# TensorBoard y logs
logs/
*.log

# Variables de entorno y credenciales
.env
.env.*
kaggle.json

# Editores e IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Streamlit
.streamlit/secrets.toml
